<div class='container'>
  <form action='/new' method='POST'>
    <label value='Name'><input type='text' required name='name' placeholder='enter your name'></input></label><br>
    <label value='Title'><input type='text' required name='title' placeholder='enter the title'></input></label><br>
    <label value='Note'><textarea required name='content' placeholder='enter your note'></textarea></label><br>
    <input type='submit' value='Submit Your Note'>
  </form>
</div>
